:root {
  --blue-color: #1c1e53;
  --gray-color: #f4f6fc;
  --white-color: #ffffff;
  --font-black-color: #282938;
  --yellow-color: #fcd980;
  --poppins: "Poppins", sans-serif;
}

/* ============================== large Device responsice css ======================== */
@media (max-width: 1199.98px) {
  /*=============== header part ============== */
  .customItem {
    padding: 0 20px;
  }

  .custombtn {
    margin-left: 30px;
  }

  /*=============== header part ============== */
  /* ============== banner part ============== */
  .bannerLeft__title {
    font-size: 36px;
    margin-bottom: 10px;
  }
  /* ============== banner part ============== */
  /* ============== Work  part ============== */
  .workLeft__title {
    font-size: 44px;
  }

  .workLeft__summary {
    font-size: 14px;

    opacity: 0.9;
  }

  .getintouch--modier {
    font-size: 17px;
  }
  .workItem {
    text-align: center;
  }
  .workItem__summary {
    font-size: 19px;
    text-align: justify;
  }

  /* ============== Work part ============== */

  /* ============== product part ============== */
  .productTop__title {
    font-size: 25px;
    margin-top: 11px;
  }

  .productItem {
    text-align: center;
  }

  .productItem__tilte {
    font-size: 27px;
    margin-top: 10px;
  }

  .productItem__summary {
    text-align: justify;
    margin-top: 20px;
  }
  /* ============== product  part ============== */

  /* ============== product  part ============== */

  .inquaryLeft {
    padding: 0 29px;
  }
  .inquaryContent__title {
    font-size: 22px;
    margin-bottom: 20px;
  }

  .inquarRight {
    text-align: center;
  }
  /* ============== product  part ============== */
}
/* ============================== large Device responsice css ======================== */
