/* =============================== Extra Small device Responsive  ============================= */
@media (max-width: 575.98px) {

  /* ================= Header part responsive ================ */
  #bannerPart {
    padding: 42px 0;
  }
  .bannerLeft__title {
    font-size: 19px;
  }

  .bannerLeft__summary {
    text-align: justify;
    font-size: 17px;
  }

  .headLeft__hading {
    font-size: 33px;
  }
  /* ========= ======== Header part responsive ================ */

  /* ================= Product part responsive ================ */
  #productPart {
    padding: 36px 0;
  }
  .productTop__title {
    font-size: 19px;
    margin-top: 10px;
  }
  /* ================= Product part responsive ================ */

  /* ================= Clinet  part responsive ================ */
  #aboutPart {
    padding: 40px 0;
    background-color: var(--gray-color);
  }
  .aboutLeft__tilte {
    font-size: 22px;
  }
  .aboutRight__description {
    font-size: 17px;
    line-height: 32px;
  }

  /* ================= Clinet part responsive ================ */
  /* ================= Clinet part responsive ================ */
  .acordian-body__details {
    font-size: 14px;
    text-align: center;
  }

  .footerTopBottom {
    margin-top: 10px;
  }
  /* ================= Clinet part responsive ================ */
}
/* =============================== Extra Small device Responsive  ============================= */
