/* =============================== large device Responsive  ============================= */
@media (max-width: 1199.98px) {
  /* ================= Header part responsive ================ */
  .customItem {
    padding: 0 23px;
  }

  .bannerLeft__title {
    font-size: 50px;
  }

  .bannerLeft__summary {
    margin-top: 30px;
  }
  /* ================= Header part responsive ================ */

  /* ================= Work part responsive ================ */
  .workLeft__title {
    font-size: 44px;
  }

  .workLeft__summary {
    font-size: 14px;
    font-weight: 500;
  }
  .workItem {
    text-align: center;
  }

  .workItem__summary {
    font-size: 15px;
    line-height: 25px;
  }
  /* ================= About part responsive ================ */

  .aboutLeft__tilte {
    font-size: 32px;
    line-height: 43px;
  }

  .aboutRight__description {
    font-size: 27px;
    line-height: 39px;
  }
  /* ================= About part responsive ================ */
  /* ================= Inquary part responsive ================ */

  .inquaryLeft {
    padding: 0 23px;
  }

  .inquaryContent__title {
    margin-bottom: 14px;
  }
  /* ================= Inquary part responsive ================ */

  /* ================= Footer part responsive ================ */
  .footerTopRight__details {
    font-size: 14px;
  }
  /* ================= Footer part responsive ================ */
}

/* =============================== large device Responsive  ============================= */
