/* =============================== Medium device Responsive  ============================= */

@media (max-width: 991.98px) {
  :root {
    --blue-color: #1c1e53;
    --gray-color: #f4f6fc;
    --white-color: #ffffff;
    --font-black-color: #282938;
    --yellow-color: #fcd980;
    --poppins: "Poppins", sans-serif;
  }

  /* ================= Header part responsive ================ */
  .navbar-toggler {
    background-color: var(--white-color);
  }

  .BarIcon {
    color: #fcd980;
  }

  .navbar-toggler:focus {
    box-shadow: 0 0 0 0;
  }

  .customul {
    margin-top: 36px;
  }

  .customItem {
    text-align: center;
    display: block;
    padding: 8px 23px;
    background: var(--yellow-color);
    margin: 10px 0;
    border-radius: 10px;
    color: var(--blue-color);
    text-transform: capitalize;
  }

  .custombtn {
    width: 100%;
  }
  /* ================= Header part responsive ================ */

  /* ================= BAnner part responsive ================ */
  .bannerLeft__title {
    font-size: 49px;
    text-align-last: center;
  }
  .bannerLeft__summary {
    margin-top: 30px;
    text-align-last: center;
  }

  .viewPriceMain {
    display: flex;
    justify-content: center;
  }
  /* ================= BAnner part responsive ================ */

  /* ================= Work part responsive ================ */
  .workLeft {
    text-align: center;
  }

  .workLeft__summary {
    margin: 0 auto;
  }

  .getintouch--modier {
    margin: 33px 0;
  }

  .workItem {
    text-align: center;
    background: var(--white-color);
    padding: 20px 0;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }
  /* ================= Work part responsive ================ */

  /* ================= Project part responsive ================ */
  .headLeft__hading {
    text-align: center;
  }

  .productItem {
    text-align: center;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  }
  /* ================= Project part responsive ================ */

  /* ================= About part responsive ================ */
  .aboutLeft {
    text-align: center;
  }

  .aboutRight__description {
    text-align: justify;
    text-align-last: center;
    margin-top: 20px;
  }

  .review {
    justify-content: center;
  }
  /* ================= About part responsive ================ */

  /* ================= Faq part responsive ================ */
  .faqLeft {
    text-align: center;
    padding: 20px 0;
  }

  .inquaryContent {
    padding-bottom: 143px;
  }

  .inquarRight {
    padding: 53px 0;
  }

  .blogBottomItem {
    margin-bottom: 20px;
  }

  .footerLeftBottom {
    margin-bottom: 25px;
  }

  /* ================= Faq part responsive ================ */
}
/* ================= Header part responsive ================ */
